<h1>로그인</h1>
<p>로그인을 해주세요</p>
<div class=container>
  <div class="row">
    <div class="col-lg-3">
    </div>
      <div class="col-12 col-lg-6">
          <form action="/user/login_process" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="email"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
              
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token()%>">
          <button type="submit" class="btn btn-primary">로그인</button>
          </form>
      </div>
      <div class="col-lg-3">
      </div>
    </div>
  </div>
</div>














<!--<#%=form_tag("/user/login_process", method: "post") do%>
  <#%=label_tag(:email)%>
  <#%=text_field_tag(:email)%><br/>
  <#%=label_tag(:password)%>
  <#%=text_field_tag(:password)%><br/>
  <#%=submit_tag("로그인")%>
<#% end %>-->

<%= form_tag do %>
  Form contents
<% end %>