<h1>로그인</h1>
<p>서비스를 이용하기 위해서 로그인을 해 주세요</p>

<form action="/user/login_process">
    email: <input type="email" name="email"><br/>
    password: <input type="password" name="password"><br/>
    <input type="submit" value="로그인">
</form>