<h1>연습장</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
           1/4 
        </div>
        <div class="col-sm">
            1/4
        </div>
        <div class="col-sm">
            1/4
        </div>
    </div>
    
</div>
