<!-- flash가 있을 때만 div 출력 -->
<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<% elsif flash[:alert] %>
    <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
    </div>
<% end %> 