<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">홈으로</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <%if session[:user_id]%>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/logout">로그아웃</a>
          </li>
      <%else%>      
          <li class="nav-item">
            <a class="nav-link disabled" href="/user/new">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/user/login">로그인</a>
          </li>
         <% end %>
    </ul>
  </div>
</nav>

